<h1>React + Redux sample</h1>
<p>This is a React and Redux sample project.</p>

<ul>
  <li><%= link_to 'Hello world sample', hello_world_path %></li>
  <li><%= link_to 'Signup form sample', signup_path %></li>
</ul>
